<% include partials/header  %>
<div class="main landing">
    <div class="welcome ">
        <div class="img-container-landing">
                <img class="img-heading" src="/public/images/yelpcamp.png" alt="logo">
        </div>
            <h2>The number one site to review beaches from all around the world!</h2>
            <a class="button" href="/beaches">View Our Beaches</a>

    </div>

</div>

<% include partials/footer %>